.nav{
    width: 100vw;
    height: 11vh;
    background: rgb(255,255,255);
background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(242,204,204,1) 100%);
    position: fixed;
    display: flex;
    gap: 50px;
    align-items: center;
    z-index: 10;
}

.title{
    text-align: center;
    font-size: 1.5em;
}

.titleMobile{
    /* text-align: center; */
    font-size: 1.5em;
    margin-left: 50px;
    cursor: pointer;
}

.close{
    margin: 20px 50px;
    position: absolute;
    cursor: pointer;
}

.navMobile{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    position: fixed;
    display: block;
    z-index: 999;
}


.navigator{
    margin-top: 11vh;
    width: 20vw;
    height: 89vh;
    /* background-color: rgb(206, 206, 206); */
    position: fixed;
}

.saludo{
    font-weight: 400;
}

.logo{
    margin-left: 50px;
    width: 65px;
    filter: grayscale(1);
}

.findInput{
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    text-align: center;
    font-size: 1.2em;
    transition: .1s;
}

.findInput:focus{
    border: 1px solid rgb(109, 109, 109);
    outline: 0;
}

.ul{
    list-style: none;
    margin: 0;
    padding-top: 50px;
}

.li{
    margin: 0;
    font-size: 1.3em;
    padding: 10px;
    cursor: pointer;
    /* text-align: center; */
}

.li{
    position: relative;
    transition: .3s;
    cursor: pointer;
    color:rgb(0, 0, 0);
    width: fit-content;
}

.li::before{
    content:"";
    position:absolute;
    /* background-color: red; */
    border-radius: 20px;
    color: black;
    margin-top: 33px;
    height: 3px;
    width: 0px;
    transition: .3s;
}

.li:hover::before{
    background-color: #e59494;
    width: calc(100% - 30px);
}

.li:hover{
    color: #e59494;
}



.liSelected{
    margin: 0;
    font-size: 1.3em;
    padding: 10px;
    cursor: pointer;
    /* text-align: center; */
}

.liSelected{
    position: relative;
    transition: .3s;
    cursor: pointer;
    color:#e59494;
    width: fit-content;
}

.liSelected::before{
    content:"";
    position:absolute;
    background-color: #e59494;
    border-radius: 20px;
    color: #e59494;
    margin-top: 33px;
    height: 3px;
    width: calc(100% - 30px);
    transition: .3s;
}

.liSelected:hover{
    color: #e59494;
}

.flexContainer{
    display: flex;
}

.noFlexContainer{
    display:initial;
}

.panelContainer{
    /* background-color: blue; */
    margin:0 auto;
    margin-top:11vh;
    width: 80vw;
    height: 89vh;
    position: relative;
}

.modal{
    position: absolute;
    z-index: 100;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.359);
    transition: .2s;
    opacity: 0;
    animation: entrada .3s forwards;
}
.modalFixed{
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.359);
    transition: .2s;
    opacity: 0;
    animation: entrada .3s forwards;
}

.windowsFixed{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 30px;
}

@keyframes entrada {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.windows{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    margin: 130px auto;
    padding: 30px;
}

.categoria{
    text-align: center;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    transition: .3s;
    cursor: pointer;
}
.categoria:hover{
    border: 1px solid rgb(189, 189, 189);
}

.inputContainer{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    /* background-color: red; */
    position: relative;
}

.inputContainerHour{
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    gap: 10%;
    /* background-color: red; */
    /* position: relative; */
}

.textInput{
    position: absolute;
    color: grey;
    margin-left: 10px;
    transition: .3s;
    z-index: -1;
    margin-top: 5px;
}

.input{
    border: 1px solid rgb(209, 209, 209);
    height: 35px;
    border-radius: 2px;
    width: 180px;
    background-color: transparent;
    position: absolute;
    transition: .3s;
    padding: 0px 10px;
    outline: 1px solid transparent;
}

.inputHour{
    border: 1px solid rgb(209, 209, 209);
    height: 35px;
    border-radius: 2px;
    width: 45%;
    background-color: transparent;
    /* position: absolute; */
    transition: .3s;
    padding: 0px 10px;
    outline: 1px solid transparent;
}

.input:focus{
    border: 1px solid #e59494;
    outline: 1px solid #e59494;
}

.input:focus + .textInput{
    color: #e59494;
    font-size: .8em;
    font-weight: 600;
    transform: translateY(-15px) translateX(-5px);
    background-color: white;
    padding: 0px 6px;
    z-index: 2;
}

.input:not(:placeholder-shown).input:not(:focus) + .textInput{
    color: rgb(185, 185, 185);
    font-size: .8em;
    font-weight: 600;
    transform: translateY(-15px) translateX(-5px);
    background-color: white;
    padding: 0px 6px;
    z-index: 2;
}

.title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.button{
    z-index: 2;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    background-color: #e59494;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.2em;
    margin-left: 50%;
    transform: translateX(-50%);
}

.button:hover{
    background-color: #bb7373;
    color: rgb(255, 255, 255);
}

.buttonDelete{
    z-index: 2;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    background-color: #e59494;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.2em;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top:10px;
    margin-bottom: 30px;
}

.buttonDelete:hover{
    background-color: rgb(255, 255, 255);
    color: #ab5f5f;
}