.pacientes{
    text-align: center;
    cursor: pointer;
}

.button{
    z-index: 2;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    background-color: #e59494;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.2em;
    /* margin-left: 10px; */
}

.button:hover{
    background-color: #be6767;
    color: rgb(255, 255, 255);
}


.especialista{
    display: flex;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 6px;
    padding: 10px;
    gap: 20px;
    border: 2px solid rgb(238, 238, 238);
    transition: .3s;
    cursor: pointer;
}

.especialista:hover{
    border: 2px solid rgb(162, 162, 162);
}

.userImage{
    width: 40px;
    height: 40px;
    border-radius: 0%;
    padding: 20px;
}

.detailContainer{
    text-align: left;
    margin-top: 10px;
}
.name{
    line-height: 0;
    font-size: 1.2em;
}

.especialidad{
    color: rgb(157, 157, 157);
}

.nameCity{
    margin: 0 auto;
    font-size: 1.1em;
    padding: 10px 0px;
}

.agenda{
    text-align: center;
}


.button{
    z-index: 2;
    font-weight: 100;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .3s;
    background-color: #e59494;
    border-radius: 10px;
    border: 0;
    padding: 5px 20px;
    font-size: 1.2em;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
}

.button:hover{
    background-color: #bb7373;
    color: rgb(255, 255, 255);
}